<div class="book-detail">
    <div class="book-detail-content">
        <div class="image">
            <img src="../../../assets/media/images/books/{{ bookId }}.jpg" alt="Book-cover" />
        </div>

        <div class="detail">
            <p class="title">
                <b>{{ bookTitle }}</b>
            </p>
            <div class="stars">
                <span *ngFor="let i of activeStars">
                    <mat-icon class="active-stars mat-icon material-icons">star</mat-icon>
                </span>
                <span *ngFor="let i of inactiveStars">
                    <mat-icon class="inactive-stars mat-icon material-icons">star</mat-icon>
                </span>
                <p class="rating">({{ rating }})</p>
            </div>
            <div class="author">
                <p>
                    <b>By {{ author }}</b>
                </p>
            </div>
            <div class="cost">
                <strong>$ {{ price }}</strong>
            </div>
            <div class="format">
                <p class="book-format">Book Format:</p>
                <p class="option">{{ format }}</p>
            </div>
            <div class="button-row">
                <button mat-stroked-button color="primary" (click)="decreaseItem()" [disabled]="!isMoreThanZero()">
                    <mat-icon>remove</mat-icon>
                </button>
                <span class="book-items">{{ itemTotal }}</span>
                <button mat-stroked-button color="primary" (click)="increaseItem()">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-flat-button class="cart-button" (click)="addCartItem()">Add to cart</button>
            </div>
        </div>
    </div>
</div>
