<hr />
<footer>
    <div class="footer-data">
        <div>
            <p>&copy; {{ footerData }}</p>
        </div>
        <div>
            <app-top-bar></app-top-bar>
        </div>
        <div class="image">
            <img src="../../../../assets/media/images/cards.png" alt="Credit Cards" />
        </div>
    </div>
</footer>
