@import "../../../../assets/scss/allimports";

.description {
    max-width: toREM(750px);
    margin-left: auto;
    margin-right: auto;
    padding-left: map-get($spacers, 15);
    padding-right: map-get($spacers, 15);
    text-align: justify;
    margin-top: map-get($spacers, 50);
    margin-bottom: map-get($spacers, 50);
}
