<div>
    <mat-toolbar class="header">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <img src="../../../../assets/media/images/logo.svg" alt="Book Store" />
            <div class="topnav">
                <a class="top-menuItems" *ngFor="let item of header.menuItems">{{ item }}</a>
            </div>
            <button mat-stroked-button (click)="cart.toggle()" *ngIf="user !== 0" class="cart">
                <mat-icon class="bag">shopping_bag</mat-icon> <span class="book-text">| {{ cartItemsCount }} books</span>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
