@import "../../../../assets/scss/allimports";

.header {
    background: map-get($colors, "background", "white");
    box-shadow: 0 toREM(2px) toREM(2px) 0 rgba(114, 114, 114, 0.2), 0 toREM(3px) 0 0 rgba(128, 127, 127, 0.19);
    position: fixed;
    z-index: 100;
}
@media (max-width: toREM(350px)) {
    img {
        width: toREM(120px);
    }
}

button {
    margin-right: map-get($spacers, 35);
    background-color: map-get($colors, "background", grey-light);

    mat-icon {
        font-size: toREM(24px);
    }
}

.cart {
    margin-left: auto;
    border-radius: 20px;
    @media (max-width: toREM(567px)) {
        .book-text {
            display: none;
        }
    }
}

.topnav {
    display: flex;
    overflow: hidden;
    margin-left: map-get($spacers, 25);
    margin-top: map-get($spacers, 10);

    @media (max-width: 992px) {
        .top-menuItems {
            display: none;
        }
    }

    a {
        display: flex;
        text-align: center;
        padding: map-get($spacers, 10) map-get($spacers, 10);
        text-decoration: none;
        font-size: toREM(15px);
        border-bottom: toREM(3px) solid transparent;
    }

    a:hover {
        border-bottom: toREM(3px) solid map-get($colors, border, red-light);
        cursor: pointer;
    }
}
