<div class="container">
    <div class="errorPage" *ngIf="books.length === 0">
        <div class="errorMessage" *ngIf="error">
            {{ error }}
        </div>
        <div>
            <p class="author-name">{{ AuthorData.name }}</p>
        </div>
        <div>
            <p class="errorMessage">No books are available for the author</p>
        </div>
    </div>
    <div class="page" *ngIf="books.length !== 0">
        <div class="card-container">
            <div class="navigation-bar">
                <div>
                    <p class="author-name">{{ AuthorData.name }}</p>
                </div>
                <div>
                    <p>
                        <span *ngIf="books.length !== 0">Showing {{ lowValue + 1 }} – {{ highValue }} of {{ books.length }} results</span>
                    </p>
                </div>
            </div>
            <div class="cards">
                <div *ngFor="let book of books | slice: lowValue:highValue">
                    <app-book-card [book]="book"></app-book-card>
                </div>
            </div>
        </div>
        <br />
        <div class="paginator-outer-container">
            <div class="paginator-container">
                <div class="mat-paginator-range-actions" *ngIf="books.length > 12">
                    <button
                        mat-raised
                        button
                        type="button"
                        class="page-buttons mat-paginator-navigation-previous"
                        (click)="changePage(1, -1)"
                        [disabled]="true ? lowValue === 0 : false"
                    >
                        Prev</button
                    ><button mat-raised button type="button" class="page-buttons" *ngFor="let button of buttons" (click)="changePage(0, button)">
                        {{ button }}</button
                    ><button
                        mat-raised
                        button
                        type="button"
                        class="page-buttons mat-paginator-navigation-next"
                        (click)="changePage(1, 1)"
                        [disabled]="true ? highValue >= books.length : false"
                    >
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
