@import "../../../assets/scss/allimports";

.container {
    margin-top: map-get($spacers, 5);
    .page {
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        .card-container {
            display: flex;
            flex-direction: column;
            min-height: 86vh;
        }
        .paginator-outer-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .page-buttons {
                margin: map-get($spacers, 5);
                padding: map-get($spacers, 5);
            }
        }
    }

    .errorPage {
        margin-left: toREM(165px);
        margin-top: toREM(90px);
        height: 77vh;

        @media screen and (max-width: toREM(567px)) {
            margin-left: 0;
            text-align: center;
        }

        .errorMessage {
            color: map-get($colors, text, red-light);
            margin-top: map-get($spacers, 20);
        }
    }
}

.navigation-bar {
    margin-top: map-get($spacers, 80);
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: toREM(567px)) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: toREM(992px)) {
        margin-left: map-get($spacers, 40);
        margin-right: map-get($spacers, 40);
    }

    @media screen and (max-width: toREM(992px)) {
        margin-left: map-get($spacers, 80);
        margin-right: map-get($spacers, 80);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.author-name {
    font-size: toREM(26px);

    @media screen and (max-width: toREM(567px)) {
        font-size: toREM(20px);
    }
}
