<mat-card class="author-card-content" (click)="goToBookListingPage(author)">
    <img mat-card-avatar src="./assets/media/images/authors/{{ author.authorId }}.jpg" class="avatar" />
    <mat-card-content class="author-details">
        <h3>{{ author.name }}</h3>
        <h5>{{ author.bookCount }} Published Books</h5>
    </mat-card-content>
</mat-card>
