@import "../../../../assets/scss/allimports";

.author-list-section {
    max-width: toREM(900px);
    margin-left: auto;
    margin-right: auto;
}
.authors-header {
    font-size: toREM(24px);
}
.authors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.error {
    justify-content: center;
    text-align: center;
    color: map-get($colors, text, red-light);
}
