<div class="head-container authors-list">
    <div>
        <span><mat-icon>help_outline</mat-icon></span>
        <span class="span-right">Can we help you?</span>
    </div>
    <div>
        <span><mat-icon>stay_primary_portrait</mat-icon></span>
        <a href="tel:+1 246-345-0695">+1 246-345-0695</a>
    </div>
</div>
