<mat-drawer-container hasBackdrop="true">
    <mat-drawer #sidenav class="sidenav" mode="over" position="start">
        <app-category-selector [sidenav]="sidenav"></app-category-selector>
    </mat-drawer>
    <mat-drawer #cart class="cartnav" mode="over" position="end">
        <app-cart [cart]="cart"></app-cart>
    </mat-drawer>

    <mat-drawer-content class="mat-drawer-data">
        <app-header [cart]="cart" [sidenav]="sidenav" *ngIf="!isLogin"></app-header>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <app-footer *ngIf="!isLogin"></app-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
