@import "../assets/scss/allimports";

.sidenav {
    height: 100vh;
    width: toREM(300px);
    position: fixed;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: map-get($colors, "background", "white");
}

.cartnav {
    height: 100vh;
    width: toREM(410px);
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: map-get($colors, "background", "white");

    @media screen and (max-width: toREM(567px)) {
        width: toREM(300px);
    }
}

.mat-drawer-data {
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}

mat-drawer-container {
    height: 100vh;
    background-color: map-get($colors, "background", "white");
}
