@import "../../../../assets/scss/allimports";

h3 {
    padding-left: map-get($spacers, 15);
}

.help {
    padding-top: map-get($spacers, 15);
    margin: map-get($spacers, 0) map-get($spacers, 0) map-get($spacers, 5);
}
@media (min-width: toREM(992px)) {
    .nav-list {
        padding-top: map-get($spacers, 0);
        a {
            font-size: toREM(15px);
        }
    }
    .header-list {
        display: none;
    }
}
.right-arrow {
    font-size: toREM(20px);
    margin-left: auto;
    padding-right: map-get($spacers, 5);
}
.category {
    display: flex;

    h3 {
        padding-top: map-get($spacers, 20);
    }

    button {
        margin-left: auto;
        margin-right: map-get($spacers, 15);
        margin-top: map-get($spacers, 15);
    }
}
