@import "../../../assets/scss/allimports";

.error {
    justify-content: center;
    text-align: center;
    color: map-get($colors, "text", "red-light");
}

.detail-container {
    margin-top: map-get($spacers, 80);
}
