@import "../../../../assets/scss/allimports";

.book-card {
    margin: map-get($spacers, 10);
    border-radius: 0;
    width: toREM(200px);
    height: toREM(325px);
    transition: none !important;
    box-shadow: none !important;
    background-color: whitesmoke;
    padding: map-get($spacers, 15) map-get($spacers, 20);

    &:hover {
        cursor: pointer;
    }
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: toREM(140px);
        }
    }
    .content {
        padding-top: map-get($spacers, 10);
        color: map-get($colors, "text", "brown-lighter");
        font-size: toREM(15px);
        .type {
            color: map-get($colors, "text", "red-light");
        }
        .title,
        .price {
            font-size: toREM(15px);
            color: map-get($colors, "text", "black-light");
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.errorMessage {
    justify-content: center;
    text-align: center;
    color: map-get($colors, text, red-light);
}
