<div class="main">
    <div class="heading">
        <mat-icon class="mat-icon">shopping_bag</mat-icon>&nbsp;&nbsp;
        <h3>Your shopping bag ({{ itemsCount }})</h3>
    </div>
    <div class="close">
        <span>Close</span>
        <button mat-icon-button (click)="cart.toggle()"><mat-icon class="mat-icon">clear</mat-icon></button>
    </div>
</div>

<hr />

<div *ngIf="error" class="error">
    {{ error }}
</div>
<div *ngIf="itemsCount === 0" class="empty-cart">
    <span>Cart is Empty</span>
</div>
<div *ngIf="!error">
    <div *ngFor="let item of cartItems">
        <div class="card">
            <img src="../../../../assets/media/images/books/{{ item.bookId }}.jpg" />
            <div class="detail">
                <p class="format">{{ item.format }}</p>
                <p>{{ item.title }}</p>
                <p class="author">{{ item.name }}</p>
                <p>{{ item.quantity }} X ${{ item.price }}</p>
            </div>
            <button mat-icon-button (click)="deleteCartItem(item.cartId)"><mat-icon class="material-icons-outlined delete-cart-item">delete_forever</mat-icon></button>
        </div>
        <hr />
    </div>

    <div class="bottom" *ngIf="itemsCount !== 0">
        <div class="bottom-main">
            <span>Subtotal:</span>
            <span class="total">${{ total }}</span>
        </div>
    </div>
</div>
