@import "../../../../assets/scss/allimports";

.categories-section {
    max-width: toREM(900px);
    margin: map-get($spacers, 0) auto map-get($spacers, 20) auto;
}
.categories-header {
    font-size: toREM(24px);
    margin-top: map-get($spacers, 5);
}
.categories-list {
    margin-top: map-get($spacers, 15);
}
.error {
    justify-content: center;
    text-align: center;
    color: map-get($colors, text, red-light);
}
